

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
            TinyApp!

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/urls">URLS</a></li>
            <li><a href="/urls/new">NEW</a></li>

        </ul>
    </div>

    <% if (guest == undefined) { %>
      <a href="/login">
          <button>Login</button>
      </a>

      <a href="/register">
          <button>Register</button>
      </a>
    <% } else { %>
        <p>
          Your guest name is: <%=guest%>
        </p>
        <form method="POST" action="/logout">
        <input type="submit" value="Logout!">
        </form>
    <% } %>
</div>
</nav>