

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>
    <% include ./partials/_header/ %>
</header>

      <p> List of shortened URLs: </p>

      <% urls.forEach ( (x) => { %>


      <li><a href="/urls/<%= x.id %>"><%= x.long %></a></li>

      <% }) %>
</body>
</html>