

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

<header>
    <% include partials/_header/ %>
</header>

      <p> List of shortened URLs: </p>

      <% urls.forEach ( (x) => { %>

      <% if (x.id != null) { %>
      <li><a href="/urls/<%= x.id %>"><%= x.long %></a>

        <form method="POST" action="/urls/<%= x.id %>/update">
          <input type="submit" value="Edit">
        </form>

        <form method="POST" action="/urls/<%= x.id %>/delete">
          <input type="submit" value="Delete">
        </form>

      </li>

      <% }}) %>


</body>
</html>