

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp!</title>
</head>
<body style="font-size:20px; padding:50px;">
  <header>
    <% include partials/_header/ %>
  </header>
  <% urls.forEach ( (x) => { %>
  <% if (x.id != null) { %>
  <li>
    <a href="/urls/<%= x.id %>" style="padding: 30px"><%= x.long %></a>
    <ul>
      <li>
        <a href = "/urls/<%= x.id %>">
          <button> Edit </button>
        </li>
      <li>
        <form method="POST" action="/urls/<%= x.id %>/delete">
          <input type="submit" value="Delete">
        </form>
      </li>
    </ul>
  </li>
  <% }}) %>
</body>
</html>