

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
    <% include partials/_header %>
</header>
      <p>
      Use this link to go to <%= urls.find(x => x.id == shortURL).long %> :
      </p>
      <p>
        <a href = <%= urls.find(x => x.id == shortURL).long %> >localhost:8080/u/<%= shortURL %> </a>
      </p>
</body>
</html>