

<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp!</title>
</head>
<body style="font-size:20px; padding:50px;">
  <header>
    <% include partials/_header/ %>
  </header>
  <% urls.forEach ( (x) => { %>
  <% if (x.id != null) { %>
  <li>
    <a href="/urls/<%= x.id %>"><%= x.long %></a>
    <ul>
      <li>
        <form method="POST" action="/urls/<%= x.id %>/update">
        <input type="submit" value="Edit">
      </form>
    </li>
      <li><form method="POST" action="/urls/<%= x.id %>/delete">
        <input type="submit" value="Delete">
      </form></li>
    </ul>
  </li>
  <% }}) %>
</body>
</html>